/node_modules
/public/hot
/public/base-baileys-mysql/node_modules
/public/base-baileys-mysql/bot_sessions
/public/base-baileys-mysql/core.class.log
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
